%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Welcome #{current_user}
%p

%a{:href => "/logout"} Logout
%p
  Last refresh: #{time.strftime("%H:%M:%S")}
%p

User: #{current_user.name}
%p
Credits: #{current_user.credits}
%p
%p
Your Items:

%table{:border => 1}
  %tbody
    %tr
      %th{:width => "200"} Name
      %th{:width => "200"}
        Credits
      %th{:width => "60"} Active
      %th{:width => "60"} Activate
  - for item in current_user.all_items
    %tr
      %td #{item.name}
      %td #{item.price}
      %td
        - if item.buyable?
          active
        - else
          inactive
      %td
        %form( action="/activate" method="POST" )
          %input(type="hidden" name="item_name" value="#{item.name}")
          %input(type="submit" value="activate")



%p
Other Users:
%p

- for user in users
  - if user != current_user
    %p
    - if !user.all_items.empty?
      %table{:border => 1}
        %tbody
          %tr
            %th{:width => "200"} Owner
            %th{:width => "80"} Show User
            %th{:width => "200"} Name
            %th{:width => "200"} Credits
            %th{:width => "60"} Active
            %th{:width => "60"} Buy

        - for item in user.all_items
          %tr
            %td #{user.name}
            %td
              %form( action="/owner" method="POST" )
                %input(type="hidden" name="user" value="#{user.name}")
                %input(type="submit" value="show profile")
            %td #{item.name}
            %td #{item.price}
            %td
              - if item.buyable?
                active
              - else
                inactive
            %td
              %form( action="/buy" method="POST" )
                %input(type="hidden" name="owner" value="#{user.name}")
                %input(type="hidden" name="item_name" value="#{item.name}")
                %input(type="submit" value="buy")

    - else
      #{user.name} has no items




